{% extends "base.html" %}

{% block body %}

<style>
    body {
        background-color: #fdfdfd;
    }

    nav.navbar {
        background-color: #fff;
        height: 75px;
        border-bottom: 1px solid #dadada;
    }

    .input-data-card {
        margin-top: 25px;
        width: 100%
    }

    .result-card {
        margin: 50px 0;
        width: 100%;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    <a class="navbar-brand" href="#">Kernighan-Lin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Розбиття графу <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Генерація рандомного графу</a>
            </li>
        </ul>
        <a class="nav-link" href="#">Про курсову</a>
    </div>
</nav>

<div class="container">
    <div class="card input-data-card">
        <h5 class="card-header">Вхідні данні</h5>
        <div class="card-body">
            <form id="graph-input-form">
                <div class="input-graph-block d-flex flex-column col-5 mx-auto my-4">
                    <button
                        type="button"
                        class="btn btn-light"
                        data-toggle="modal"
                        data-target="#random-graph-generation-modal"
                    >
                        Згенерувати рандомний граф
                    </button>
                    <span class="text-muted text-center my-4">або</span>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="graph-file-input">
                        <label class="custom-file-label" for="graph-file-input">Обрати файл</label>
                    </div>
                    <span class="text-muted text-center my-4">або</span>
                    <div class="form-group">
                        <label for="graph-description-input">Описати граф у формі</label>
                        <textarea
                            class="form-control"
                            id="graph-description-input"
                            rows="5"
                            name="graph_description"
                        >
                        </textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-4">
                    <button type="submit" class="btn btn-info">Отримати рішення</button>
                </div>
            </form>
        </div>
    </div>


    <div class="card result-card">
        <h5 class="card-header">
            Результати
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a
                            class="nav-link active"
                            data-toggle="pill"
                            href="#v-pills-kernighan-result"
                            role="tab"
                            aria-selected="true"
                        >
                            Алгоритм Карнгіна-Ліна
                        </a>
                        <a
                            class="nav-link"
                            data-toggle="pill"
                            href="#v-pills-modified-algorithm-result"
                            role="tab"
                            aria-selected="false"
                        >
                            Модифікований алгоритм
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content">
                        <div
                            class="kernighan-lin-result tab-pane fade show active"
                            id="v-pills-kernighan-result"
                            role="tabpanel"
                        >
                            <div id="kernighan-lin-partitioned-graph"></div>
                            <table class="table">
                                <caption>Загальна інформація</caption>
                                <thead>
                                <tr>
                                    <th scope="col">Величина</th>
                                    <th scope="col">Значення</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Значення цільової функції:</td>
                                    <td class="target-function-value">-</td>
                                </tr>
                                <tr>
                                    <td>Час виконання:</td>
                                    <td class="time-to-complete">-</td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table mt-4">
                                <caption>Розподіл вершин по групам</caption>
                                <thead>
                                <tr>
                                    <th scope="col">Номер групи</th>
                                    <th scope="col">Вершини в групі</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td class="partition-nodes">-</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td class="partition-nodes">-</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td class="partition-nodes">-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div
                            class="modified-algorithm-result tab-pane fade"
                            id="v-pills-modified-algorithm-result"
                            role="tabpanel"
                        >
                            <div id="modified-algorithm-partitioned-graph"></div>
                            <table class="table">
                                <caption>Загальна інформація</caption>
                                <thead>
                                <tr>
                                    <th scope="col">Величина</th>
                                    <th scope="col">Значення</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Значення цільової функції:</td>
                                    <td class="target-function-value">-</td>
                                </tr>
                                <tr>
                                    <td>Час виконання:</td>
                                    <td class="time-to-complete">-</td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table mt-4">
                                <caption>Розподіл вершин по групам</caption>
                                <thead>
                                <tr>
                                    <th scope="col">Номер групи</th>
                                    <th scope="col">Вершини в групі</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td class="partition-nodes">-</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td class="partition-nodes">-</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td class="partition-nodes">-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="random-graph-generation-modal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Генерація випадкового графу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="random-graph-description-form">
                        <div class="form-row">
                            <div class="col">
                                <label for="random-graph-nodes-count-input">
                                    Кількість вершин
                                </label>
                                <input
                                    type="number"
                                    class="form-control"
                                    value="9"
                                    id="random-graph-nodes-count-input"
                                    name="nodes_count"
                                >
                            </div>
                            <div class="col">
                                <label for="random-graph-edges-count-input">
                                    Кількість ребер
                                </label>
                                <input
                                    type="number"
                                    class="form-control"
                                    value="12"
                                    id="random-graph-edges-count-input"
                                    name="edges_count"
                                >
                            </div>
                        </div>

                        <div class="form-row mt-5">
                            <div class="col">
                                <label for="random-graph-edge-min-weight-input">
                                    Мінімальна вага ребра
                                </label>
                                <input
                                    type="number"
                                    class="form-control"
                                    value="1"
                                    id="random-graph-edge-min-weight-input"
                                    name="edge_weight_from"
                                >
                            </div>
                            <div class="col">
                                <label for="random-graph-edge-max-weight-input">
                                    Максимальна вага ребра</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    value="10"
                                    id="random-graph-edge-max-weight-input"
                                    name="edge_weight_to"
                                >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button
                        type="button"
                        class="btn btn-primary"
                        id="generate-random-graph-btn"
                    >
                        Згенерувати граф
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}